{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" data-hash="{{ todolist.hash }}">
        <form action="#" method="post" class="update-name">
            <input type="hidden" name="token" value="{{ csrf_token('updatename') }}"/>
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <div class="form-check mb-2">
                        <input type="text" name="name" class="form-control" value="{{ todolist.name }}"/>
                    </div>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-success">
                        Modifier
                    </button>
                </div>
            </div>
        </form>
        <hr>
        <form action="#" method="post" class="add-item">
            <input type="hidden" name="token" value="{{ csrf_token('add-item') }}"/>
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <div class="form-check mb-2">
                        <input type="text" name="name" class="form-control"/>
                    </div>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-success">
                        Ajouter
                    </button>
                </div>
            </div>
        </form>
        <div class="list">
            {% include 'includes/todolist-items.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/todolist.js') }}?v=3"></script>
{% endblock %}